@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        @*<form action="#" method="get" class="sidebar-form">*@
            @*<div class="input-group">*@
                @*<input type="text" name="q" class="form-control" placeholder="Search...">*@
                @*<span class="input-group-btn">*@
                    @*<button type="submit" name="search" id="search-btn" class="btn btn-flat">*@
                        @*<i class="fa fa-search"></i>*@
                    @*</button>*@
                @*</span>*@
            @*</div>*@
        @*</form>*@
        @* END Search *@
        @* BEGIN Menu *@
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Content/img/user.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENU ADMIN</li>
                <li class="@Url.IsLinkActive("Index", "Home")">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Subtes 1</span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "Home")">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Subtes 2</span></a>
                </li>
                @*<li class="treeview">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-link"></i> <span>Peserta</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-circle-o"></i>Tambah Peserta</a></li>
                        <li><a href="@Url.Action("Index", "HalamanPilihPeserta")"><i class="fa fa-circle-o"></i>Pilih Peserta</a></li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Soal Tes</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Tambah Soal</a></li>
                        <li><a href="#">Pilih Soal</a></li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Jawaban Peserta</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Hasil Jawaban</a></li>
                    </ul>
                </li>*@
            </ul>
            @* END Menu *@
        </section>
</aside>